.banner{
    position: relative;
   /* display: inline-block; /* Make the width of box same as image */
}
.banner .text{
    position: absolute;
    font-size: 300px;
    font-family: dock11;
    /*z-index: 999;*/
    letter-spacing: 5px;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    
    /*font-family: Arial,sans-serif;*/
    color: #009999;
    width: 100%; 

    text-shadow: 
    /*3d layers*/
    0px 0px 1px rgb(167,167,167),
    0px 1px 1px rgb(167,167,167),
    0px 2px 1px rgb(167,167,167);

    1px 1px 1px rgb(167,167,167),
    1px 2px 1px rgb(167,167,167),
    1px 3px 1px rgb(167,167,167),

    2px 2px 1px rgb(167,167,167),
    2px 3px 1px rgb(167,167,167),
    2px 4px 1px rgb(167,167,167);

    1px 10px 30px rgba(0,0,0,0.8),
    1px 10px 70px rgba(0,0,0,0.8),

    0px 5px 5px rgba(0,0,0,0.8),

    -5px 5px 20px rgba(0,0,0,0.8),

    5px 5px 20px rgba(0,0,0,0.8);


}

@font-face {
    font-family: dock11;
    src:url(heavy_dock11.otf);
  }